<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Meeting #<%= @meeting.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/meetings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link meeting start -->
      <div class="col">
        <a href="/meetings/<%= @meeting.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit meeting
        </a>
      </div>
      <!-- Edit link meeting end -->

      <!-- Delete link meeting start -->
      <div class="col">
        <a href="/delete_meeting/<%= @meeting.id %>" class="btn btn-block btn-outline-secondary">
          Delete meeting
        </a>
      </div>
      <!-- Delete link meeting end -->
    </div>

    <dl>
      <dt>
        Connections
      </dt>
      <!-- Display connections_id start -->
      <dd>
        <%= @meeting.connections_id %>
      </dd>
      <!-- Display connections_id end -->

      <dt>
        Date
      </dt>
      <!-- Display date start -->
      <dd>
        <%= @meeting.date %>
      </dd>
      <!-- Display date end -->

      <dt>
        Meeting notes
      </dt>
      <!-- Display meeting_notes start -->
      <dd>
        <%= @meeting.meeting_notes %>
      </dd>
      <!-- Display meeting_notes end -->

      <dt>
        Location
      </dt>
      <!-- Display location_id start -->
      <dd>
        <%= @meeting.location_id %>
      </dd>
      <!-- Display location_id end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @meeting.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Meeting type
      </dt>
      <!-- Display meeting_type start -->
      <dd>
        <%= @meeting.meeting_type %>
      </dd>
      <!-- Display meeting_type end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@meeting.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@meeting.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "meeting_templates/meeting_attendees" %>
  </div>
</div>
<!-- Show Page Customization end -->
